*.in
*.cache
.*
*.o
*.a
*~
Makefile
aclocal.m4
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1

init
service
reboot
shutdown
killall5
runsvc
syslog
usyslogd
klogd
gcrond

services/sigkill
services/sigterm
services/devfs
services/procfs
services/sysfs
services/ifrename
services/ifcfg
services/ifdown
services/modules
services/hostapd
services/swclock
services/swclocksave
services/nft
services/sshd
services/sshd_keygen

scripts/devfs.sh
scripts/ifrename.sh
scripts/ifcfg.sh
scripts/modules_load.sh

etc/initd.env
