*.in
*.cache
.*
*.o
*.a
*~
Makefile
aclocal.m4
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1

init
service
reboot
shutdown
killall5
runsvc

services/sigkill
services/sigterm
services/devfs
services/procfs
services/sysfs
services/ifrename

scripts/devfs.sh
scripts/ifrename.sh

etc/initd.env
