*.in
*.cache
.*
*.o
*.a
*~
Makefile
aclocal.m4
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1

init
service
reboot
shutdown
killall5

services/agetty
services/hostname
services/loopback
services/sysctl
services/hwclock
services/shutdown
services/reboot
services/sigkill
services/sigterm
services/sync
services/devfs
services/procfs
services/sysfs
services/tmpfs
services/tmpfsrun

scripts/devfs.sh
scripts/trymount.sh
